DJANGO_SECRET_KEY=your_secret_key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,testserver

DATABASE_NAME=medilinq_db
DATABASE_USER=postgres
DATABASE_PASSWORD=your_database_password
DATABASE_HOST=localhost
DATABASE_PORT=5432

GOOGLE_API_KEY=your_gemini_api_key
CORS_ALLOW_ALL_ORIGINS=True

DEMO_ACCOUNT_PASSWORD=your_demo_account_password
HOSPITAL_TEST_PASSWORD=your_hospital_test_password
TEST_ACCOUNT_PASSWORD=your_test_account_password
SUPERUSER_PASSWORD=your_superuser_password